<ion-view>
		<!--页头-->
		<ion-header-bar  class="bar-positive">
			<button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-ios-arrow-left"></i></button>
		    <h1 class="title">在线报班</h1>
		</ion-header-bar>
		<!--内容-->
		<ion-content>
			<ion-list>
					<label class="item item-input">
		                <span class="input-label">姓         名</span>
		                <input type="text" placeholder="请输入真实姓名">
	                </label>
			</ion-list>
					<label class="item item-input">
		                <span class="input-label">电          话</span>
		                <input type="text" placeholder="请输入联系方式">
	                </label>
			<ion-list>
					<label class="item item-input">
	                <span class="input-label">所在学校</span>
	                <input type="text" placeholder="请输入所在学校">
	                </label>
			</ion-list>
			<ion-list>
				<ion-item id="butt">
					<button class="button button-block">立即报班</button>
				</ion-item>
			</ion-list>
		</ion-content>	
</ion-view>		
<style type="text/css">
.input-label{
	width: 30px;
}
.button.button-block, .button.button-full{
	background-color: #FF9900;
	color: #fff;
}
#butt{
	border: 0;
}
</style>
