    <style>
        .content-ed1{
            background: #f1eff8;
        }
        .content-ed1 .all{
            margin: 10px;
            border-radius: 5px;
            font-size: 14px;
            line-height: 90px;
        }
        .content-ed1 .all img{
            vertical-align: middle;
            margin-right: 16px;
        }
        .content-ed1 .all i{
            margin-top: 16px;
            margin-right: 10px;
            float: right;
        }
        .content-ed1 .item-complex .item-content, .item-radio .item-content{
            padding: 12px;
        }
    </style>
   <ion-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">宏鹏教育</h1>
    </ion-header-bar>
    <ion-content class="content-ed1">
        <ion-list>
            <ion-item class="all" ui-sref="^.ed2">
                <img src="images/img04/jiaoyu.png" alt="">
                教师
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="all" ui-sref="^.ed2">
                <img src="images/img04/zhaojiao.png" alt="">
                招教
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="all" ui-sref="^.ed2">
                <img src="images/img04/tegang.png" alt="">
                特岗
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
   </ion-view>
