
    <style>
        .content{
            background: #f1eff8;
        }
    </style>
<ion-view hide-tabs="true">
<ion-header-bar class="bar-positive">
    <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
    <h1 class="title">宏鹏教育</h1>
</ion-header-bar>
<ion-content class="content">
    <ion-list>
        <ion-item class="all">
            幼儿
        </ion-item>
        <ion-item class="all">
            小学
        </ion-item>
        <ion-item class="all">
            中学
        </ion-item>
        <ion-item class="all">
            大学
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>