<ion-view>
    <ion-header-bar class="bar-positive">
        <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-ios-arrow-left"></i></button>
        <h1 class="title">在线学习</h1>
    </ion-header-bar>

    <ion-content class="background">
        <div class="top">
            <button class="button btn-top a">全部学段&nbsp;<i class="icon ion-android-arrow-dropdown"></i></button>
            <button class="button btn-top">默认排序&nbsp;<i class="icon ion-android-arrow-dropdown"></i></button>
        </div>
        <div class="box">
            <ion-list>
                <ion-item class="item-thumbnail-left cen" ui-sref="^.learninga">
                    <img src="images/img/book1.png" alt="" class="fir">
                    <h2>01&nbsp;财会</h2>
                    <p>湖北2016年会计从业资格报名考试信</p>
                </ion-item>
                <ion-item class="item-thumbnail-left cen">
                    <img src="images/img/book1.png" alt="" class="fir">
                    <h2>02&nbsp;外语</h2>
                    <p>2016年6月全国大学英语四六级考试报名的通知....</p>
                </ion-item>
                <ion-item class="item-thumbnail-left cen">
                    <img src="images/img/book1.png" alt="" class="fir">
                    <h2>03&nbsp;建筑</h2>
                    <p>《专业工程管理与实务（机电工程）全科》项目经...</p>
                </ion-item>
                <ion-item class="item-thumbnail-left cen">
                    <img src="images/img/book1.png" alt="" class="fir">
                    <h2>04&nbsp;医药卫生</h2>
                    <p>执业药师（西药全科）精品VIP套餐（含教材）赠...</p>
                </ion-item>
                <ion-item class="item-thumbnail-left cen">
                    <img src="images/img/book1.png" alt="" class="fir">
                    <h2>05&nbsp;公务员</h2>
                    <p>2016年公务员行测技巧：如何区分图形推理中卫...</p>
                </ion-item>
                <ion-item class="item-thumbnail-left cen">
                    <img src="images/img/book1.png" alt="" class="fir">
                    <h2>06&nbsp;职业资格</h2>
                    <p>人力资源师（二级）一对一金牌双证套餐。</p>
                </ion-item>
                <ion-item class="item-thumbnail-left next">
                    <img src="images/img/book1.png" alt="" class="fir">
                    <h2>07&nbsp;学历教育</h2>
                    <p>成人高考-高升本-合作院校保过班（文史外语类+艺...</p>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>