<ion-view hide-tabs="true">
    <ion-header-bar class="bar-positive">
        <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-ios-arrow-left"></i></button>
        <h1 class="title">在线学习</h1>
    </ion-header-bar>

    <ion-content>
        <div class="bar-subheader">
            <button class="button button-full button-clear button-dark">报考会计的基本要求</button>
            <div class="hed">
                <span class="learn-left">会计学习总结：</span>
                <span class="learn-right">视频解析&gt;&gt;</span>
            </div>
        </div>
        <ion-list>
            <ion-item class="learfir">
                会计从业资格证考试科目为：财经法规与会计职业道德、会计基础、会计电算化
            </ion-item>
            <ion-item class="learfir1">
                会计从业资格考试是由国家财政组织的全国性考试，一般由省级财政部门组织，考试
                及报考时间全国各省有差异。改考试实行全国统一大纲，各地自行编制教材及安排考
                试时间的政策，考试大多涉及《财经法规与职业道德》、《会计基础与实务》（或为
                《会计实务》与《会计基础知识》）、《初级会计电算化》，考试通过后可获得会计从业资格证书。
            </ion-item>
            <ion-item class="learfir1">
                《会计从业资格证书》[2]是具有一定会计专业知识和技能的人员从事会计工作的资格证书
                ，是从事会计工作必须具备的基本要求和前提条件，是证明能够从事会计工作的唯一合法凭证
                ，是进入会计岗位的“准入证”，是从事会计工作的必经之路。它是一种资格证书，是会计工
                作的“上岗证”，不分级。
            </ion-item>
        </ion-list>
    </ion-content>

    <ion-footer-bar>
        <div class="tabs tabs-icon-top">
            <a class="tab-item" ui-sref="^.catalogue">
                <button class="button buttona button-outline button-positive">目录</button>
            </a>
            <a class="tab-item" ui-sref="^.exam">
                <button class="button buttona button-outline button-positive">章节练习</button>
            </a>
            <a class="tab-item kf">
                <i>
                    <img src="images/img/kf.png" alt="" class="fotimg">
                </i>
                <span class="fotfont">在线客服</span>
            </a>
        </div>
    </ion-footer-bar>
</ion-view>