
   <ion-header-bar class="bar-positive item-input-inset">
        <button class="button button-clear icon ion-chevron-left" ng-click="$ionicGoBack()">
        </button>
        <label class="item-input-wrapper">
            <input type="search" placeholder="找什么呢？搜索试试吧">
            <i class="icon ion-ios-search"></i>
        </label>
        <button class="button button-clear icon ion-ios-cart-outline">
        </button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item>
                <div class="row">
                    <div class="col col-50 left" ng-click="showEdu($event)">全部学段<i class="icon ion-android-arrow-dropdown"></i></div>
                    <div class="col col-50"  ng-click="showPri($event)">默认排序<i class="icon ion-android-arrow-dropdown"></i></div>
                </div>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
            <ion-item class="all">
                    <div class="hotvideo">
                        <i class="i1"></i>
                        <p>专业手绘插画一对一视频教学专业化绘画基本准则</p>
                        <p class="price"><span>2369人已试听</span><button class="button" ui-sref="^.video-2">免费试听</button></p>
                    </div>
            </ion-item>
            <ion-item class="all">
                <div class="hotvideo">
                    <i class="i2"></i>
                    <p>实战移动互联网营销:互联网+营销的7个关键要素</p>
                    <p class="price"><span class="hot">￥236</span><span>2369人已试听</span><button class="button">点击学习</button></p>
                </div>
            </ion-item>
            <ion-item class="all">
                <div class="hotvideo">
                    <i class="i3"></i>
                    <p>BEC商务英语中、高级连读【随到随学班】超实用职场英语</p>
                    <p class="price"><span>2369人已试听</span><button class="button">免费试听</button></p>
                </div>
            </ion-item>
            <ion-item class="all">
                <div class="hotvideo">
                    <i class="i4"></i>
                    <p>包含各专业医师资格笔试考试的全部课程内容</p>
                    <p class="price"><span class="hot">￥236</span><span>2369人已试听</span><button class="button">点击学习</button></p>
                </div>
            </ion-item>
            <ion-item class="all">
                <div class="hotvideo">
                    <i class="i5"></i>
                    <p>中小学九年义务教育，课程视频辅导家教辅导</p>
                    <p class="price"><span class="hot">￥236</span><span>2369人已试听</span><button class="button">点击学习</button></p>
                </div>
            </ion-item>
            <ion-item class="all">
                <div class="hotvideo">
                    <i class="i1"></i>
                    <p>专业手绘插画一对一视频教学专业化绘画基本准则</p>
                    <p class="price"><span>2369人已试听</span><button class="button">免费试听</button></p>
                </div>
            </ion-item>
            <ion-item class="item-divider">
                <p class="more">加载更多</p>
            </ion-item>
        </ion-list>
    </ion-content>