<ion-view  hide-tabs="true">
    <ion-header-bar class="bar-positive">
        <button class="button button-clear icon ion-chevron-left" ng-click="$ionicGoBack()"></button>
        <h1 class="title">课件视频</h1>
    </ion-header-bar>
    <ion-content>
        <div class="banner">
            <img src="images/img04/banner1.png" alt="">
        <span><img src="images/img04/aa.png" alt=""></span>
        </div>
        <div class="row tab">
            <div class="col col-33" ui-sref="^.video-2">简介</div>
            <div class="col col-33 blue" ui-sref="^.video-3">章节</div>
            <div class="col col-33" ui-sref="^.video-4">评价</div>
        </div>
        <ion-list>
            <ion-item class="all video3">
                <div class="cet4">
                    <p>大学英语四级/CET41V1私人定制【18课时】星火式巧记速记法掌握六级词汇的奥义</p>
                    <p><img src="images/img04/star.png" alt="">5.0分</p>
                    <p>￥200<span>36958人在学习</span></p>
                </div>
            </ion-item>
            <ion-item class="all video3">
                <span>第一章&nbsp;词汇总结</span>
                <i class="icon ion-chevron-right"></i>

            </ion-item>
            <ion-item class="all video3">
                <span>第二章&nbsp;语法概述</span>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="all video3">
                <span>第三章&nbsp;语境体验</span>
                <i class="icon ion-chevron-right"></i>

            </ion-item>
            <ion-item class="all video3">
                <span>第四章&nbsp;英语短语讲解</span>
                <i class="icon ion-chevron-right"></i>

            </ion-item>
            <ion-item class="all video3">
                <span>第五章&nbsp;病错句修正</span>
                <i class="icon ion-chevron-right"></i>

            </ion-item>
            <ion-item class="all video3">
                <span>第六章&nbsp;口语练习</span>
                <i class="icon ion-chevron-right"></i>

            </ion-item>
            <ion-item class="item-divider"></ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="down-shop">
        <div class="row foot">
            <div class="col"><div><img src="images/img04/fen.png" alt=""><div>分享</div></div></div>
            <div class="col right"><div><img src="images/img04/ke.png" alt=""><div>客服</div></div></div>
            <div class="col right"><div><img src="images/img04/shou.png" alt=""><div>收藏</div></div></div>
            <div class="col col-25 shopcart">加入购物车</div>
            <div class="col col-25 pay">立即购买</div>
        </div>
    </ion-footer-bar>
</ion-view>