<ion-view  hide-tabs="true">
    <ion-header-bar class="bar-positive">
        <button class="button button-clear icon ion-chevron-left" ng-click="$ionicGoBack()"></button>
        <h1 class="title">课件视频</h1>
    </ion-header-bar>
    <ion-content>
        <div class="banner">
            <img src="images/img04/banner1.png" alt="">
        <span><img src="images/img04/aa.png" alt=""></span>
        </div>
        <div class="row tab">
            <div class="col col-33 blue">简介</div>
            <div class="col col-33" ui-sref="^.video-3">章节</div>
            <div class="col col-33" ui-sref="^.video-4">评价</div>
        </div>
        <ion-list>
            <ion-item class="all vid">
                <div class="cet4">
                    <p>大学英语四级/CET41V1私人定制【18课时】星火式巧记速记法掌握六级词汇的奥义</p>
                    <p><img src="images/img04/star.png" alt="">5.0分</p>
                    <p>￥200<span>36958人在学习</span></p>
                </div>
            </ion-item>
            <div class="row nav">
                <div class="col col-33"><img src="images/img04/road.png" alt="">免费试听</div>
                <div class="col col-33"><img src="images/img04/road.png" alt="">名师特约</div>
                <div class="col col-33"><img src="images/img04/road.png" alt="">当面辅导</div>
            </div>
            <div class="row nav">
                <div class="col col-33"><img src="images/img04/road.png" alt="">随堂测试</div>
                <div class="col col-33"><img src="images/img04/road.png" alt="">归纳总结</div>
                <div class="col col-33"><img src="images/img04/road.png" alt="">免费资料</div>
            </div>
            <ion-item class="item-divider"></ion-item>
            <ion-item class="all vid">
                <span class="pro">名师简介</span>
            </ion-item>
            <div class="row">
                <div class="col">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;侯晓青，女，中共党员，毕业于西华师范大学英语系．中学高级教师，现任校团委副书记、初2008级班主任．任教初中英语．多次荣获英语竞赛指导教师奖，
                    在省、市、县各级刊物多次发表文章．曾多次获得县校级＂优秀教师＂和“优秀班主任”“优秀共产党员”，“优秀年级组长”等称号，所带班多次获得“县级优秀班集体”
                </div>

            </div>
            <ion-item class="item-divider"></ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="down-shop">
        <div class="row foot">
            <div class="col" ng-click="showFenx($event)"><div><img src="images/img04/fen.png" alt=""><div>分享</div></div></div>
            <div class="col right" ui-sref="^.video-service"><div><img src="images/img04/ke.png" alt=""><div>客服</div></div></div>
            <div class="col right"><div><img src="images/img04/shou.png" alt=""><div>收藏</div></div></div>
            <div class="col col-25 shopcart">加入购物车</div>
            <div class="col col-25 pay">立即购买</div>
        </div>
    </ion-footer-bar>
</ion-view>