<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" href="js/lib/ionic1/css/ionic.min.css">
    <link rel="stylesheet" href="css/area_prov.css">
    <script src="js/lib/ionic1/js/ionic.bundle.min.js"></script>
</head>
<body ng-controller="myCtrl">
        <ion-header-bar class="bar bar-positive">
            <button class="button button-clear "><i class="icon ion-ios-arrow-left"></i></button>
            <h1 class="title">关于我们</h1>
        </ion-header-bar>
        <ion-content>
          <div id="sett">
               宏鹏教育主要是一个专业的教育考试服务网络平台,主要提供小
              升初、中考、高考、考研、自考、成考、公务员考试、英语四六级
              考试、托福、雅思、司法考试、会计考试、成人高考、教师招聘、就
              业、留学等权威的招考、招生、就业、招聘、复习的辅导信息。宏
              鹏教育就是一种有目的、有组织、有计划、系统地传授知识和技术规
              范等的社会活动。教育的根本价值，就是给国家提供具有崇高信仰、道
              德高尚、诚实守法、技艺精湛、博学多才、多专多能的人才，培养和
              养育经济与社会发展需要的劳动力，培养合格公民，为国、为家、为社会
              创造科学知识和物质财富，推动经济增长，推动民族兴旺，促进人的发展，推
              动世界和平和人类发展。教育在社会中起着相当重要作用，而教育又分为家
              庭教育、学校教育等等，这些教育加在一起对孩子的引导作用相当重要。
            </div>
        </ion-content>


</body>
<script>
    var app = angular.module("myApp", ["ionic"]);
    app.controller("myCtrl", function () {

    })
</script>
</html>