    <style>
        body{
            background: #f1eff8;
        }

    </style>

<ion-view>
<ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-ios-arrow-left"></i></button>
<h1 class="title">我的电子书</h1>
    <button class="button button-clear" ng-click="showyj($event)"><i class="icon ion-navicon"></i></button>
</ion-header-bar>
<ion-content class="has-header">
    <ion-list>
        <ion-item>
            <h2>第一章 序论</h2><br/>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;隔壁家的小狗阿旺落水了，掉在了离家不远的河里。那是条<br/>
                两边都用石块砌成壁岸的河流，河水流淌的很急，我闻讯赶到时，看<br/>
                见阿旺在水中奋力划动着四肢正拼命挣扎着不让自己沉下去。<br/><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;可是，显而易见的，尽管阿旺已尽了自己的力量，也一时之间<br/>
                以为自己的努力而尚未沉没，但终究苦于无法爬上对阿旺而言有坚<br/>
                实又平滑的石砌河岸，因此，时间一长，同浑浊河水的必须使劲全<br/>
                力却又坚决不可间歇的竞争和拼搏，已经令阿旺又累又乏了，与脏水<br/>
                的斗争动作也在渐渐地迟缓了下来。<br/><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;眼看着露出水面的脑袋部分越来越少了，阿旺的境况也差不多<br/>
                到了水深火热的地步。然而，它的主人直到这时候却仍然袖着手呆<br/>
                在一旁上观，摆出了一副准备任其自然发展下去的样子。忍无<br/>
                可忍之下，我毅然决然的拿起了武器—一把谁然不是最新但却非<br/>
                常结实耐用的竹梯，越俎代庖地挺身把阿旺给救了出来。<br/><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本当这种虽然是费了一番周折但仍属于我力所能及的善举，<br/>
                我原以为做了也就一切都过去了，毕竟对我来说也仅是良知和思想<br/>
                道德的自然驱使所致，何况每个真正的中国人倘使遇上了诸如此类<br/>
                的事情，想必一定都不会袖手旁观的。可谁知，随后发生的状<br/>
                况竟然完全出乎了我的意料：阿旺被我救上来之后，居然眼神里和<br/>
                体态上都流露出了感激之情。<br/><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;咦？不会吧，阿旺可是畜生啊，怎么也懂得把它从水深火热<br/>
                之中救出来是为了它好呢?<br/>
                <br/>
            </p>
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>


<!--<script>-->
    <!--var app=angular.module("myApp",["ionic"]);-->
//    app.controller("myCtrl",function($scope,$ionicPopover,$ionicPopup){
//        $ionicPopover.fromTemplateUrl(
//                "template/template03.html",
//                {
//                    scope:$scope,
//                    animation:"slide-in-up"
//                }).then(function(modal){
//                    $scope.dialog=modal;
//        });
//        $scope.showyj=function(e){
//            $scope.dialog.show(e)
//        };

        <!--$scope.showConfirm=function(){-->
            <!--var confirmPopup=$ionicPopup.confirm({-->
                <!--template:"此小说离线包大小为34.2M,是否马上离线?",-->
                <!--cancelText:"取消",-->
<!--//                cancelType:"button",-->
                <!--okText:"确认"-->
            <!--});-->
            <!--confirmPopup.then(function(res){-->
                <!--if(res){-->
                    <!--console.log("确定");-->
                <!--}else{-->
                    <!--console.log("取消");-->
                <!--}-->
            <!--});-->
        <!--};-->

    <!--});-->
<!--</script>-->
