<ion-view>
<ion-header-bar class="bar bar-positive">
    <!--<ion-nav-back-button></ion-nav-back-button>-->
    <button class="button button-clear "ng-click="$ionicGoBack()"><i class="icon ion-ios-arrow-left"></i></button>
    <h1 class="title">账号登录</h1>
</ion-header-bar>
<ion-content>
    <ion-list>
        <ion-item class="item-input">
            <span style="width: 2.5rem;border-right: 0.01rem solid #ccc">账号</span>
            <input type="text" placeholder="请输入账号名/手机号" style="padding-left: 0.5rem;">
        </ion-item>
        <ion-item class="item-input">
            <span style="width: 2.5rem;border-right: 0.01rem solid #ccc">密码</span>
            <input type="text" placeholder="请输入密码" style="padding-left: 0.5rem;">
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item style="background-color: #f1eff8;border: none;padding-bottom: 5px">
            <button class="button button-block" style="
            background-color: #f90;margin: auto;color: #fff" ui-sref="^.PersonalCenter1">登录
            </button>
        </ion-item>
        <div style="width: 95%;margin: auto">
            <button class="button button-small button-positive button-clear " style="float: left;color: #a2a1a6;"ui-sref="^.regist1">
                快速注册
            </button>
            <button class="button button-small button-positive button-clear " style="float:right;color: #a2a1a6;">
                忘记密码
            </button>
        </div>
    </ion-list>
    <div style="height: 90px;clear: both;padding: 25px 16px;text-align: center">
        <a href="#"style="text-decoration:none;font-size: 12px;color: #ccc">注册或使用账号即视为同意<span style="color: orange">《宏鹏教育用户使用协议》</span>
            系统将同步为您免费注登录</a>
    </div>
    <div style="height: 46px;clear: both;padding: 13px 14px;text-align: center;line-height: 16px">
        <span style="width: 35%;float: left;"><hr></span>第三方登陆
        <span style="width: 35%;float: right;"><hr></span>
    </div>
    <div style="width: 90%;margin: auto">
        <div class="row">
            <div class="col col-33"style="text-align: center"><img src="images/4.png" alt=""style="width: 70px">微信好友</div>
            <div class="col col-33"style="text-align: center"><img src="images/5.png" alt=""style="width: 70px">腾讯QQ</div>
            <div class="col col-33"style="text-align: center"><img src="images/6.png" alt=""style="width: 70px">新浪微博</div>
        </div>
    </div>
</ion-content>
</ion-view>