
    <style>
        body{
            background: #f1eff8;
        }
        .orsp{
            display:block;
            float:left;
            width:6px;
            height:19px;
            background:#ff9900;
            margin-left: 0;
            margin-right: 14px;
        }
    </style>

<ion-view >
<ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-ios-arrow-left"></i></button>
<h1 class="title">目录</h1>
</ion-header-bar>
<ion-content class="has-header">
    <ion-list>
        <ion-item ui-sref="^.dianzishu2">
            <span class="orsp"></span>
            <h2>第一章 序论</h2>
        </ion-item>
        <ion-item>
            <span class="orsp"></span>
            <h2>第二章 儿童发展的基础</h2>
        </ion-item>
        <ion-item>
            <span class="orsp"></span>
            <h2>第三章 儿童感知觉、注意的发展</h2>
        </ion-item>
        <ion-item>
            <span class="orsp"></span>
            <h2>第四章 儿童记忆的发展</h2>
        </ion-item>
        <ion-item>
            <span class="orsp"></span>
            <h2>第五章 儿童思想、思维的发展</h2>
        </ion-item>
        <ion-item>
            <span class="orsp"></span>
            <h2>第六章 儿童语言的发展</h2>
        </ion-item>
        <ion-item>
            <span class="orsp"></span>
            <h2>第七章 儿童情绪的发展</h2>
        </ion-item>
        <ion-item>
            <span class="orsp"></span>
            <h2>第八章 儿童社会性的发展</h2>
        </ion-item>
        <ion-item>
            <span class="orsp"></span>
            <h2>第九章 儿童个性的发展</h2>
        </ion-item>
        <ion-item>
            <span class="orsp"></span>
            <h2>第十章 儿童语言的发展</h2>
        </ion-item>
        <ion-item>
            <span class="orsp"></span>
            <h2>第十一章 儿童个性的发展</h2>
        </ion-item>
        <ion-item>
            <span class="orsp"></span>
            <h2>第十二章 儿童语言的发展</h2>
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>