    <style>
        body{
            background: #f1eff8;
        }
        .item-image {
            padding: 15px 15px 5px 15px;
        }
        .item {
            border-width: 0;
        }
    </style>

<ion-view>
<ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="ionicGoBack()"><i class="icon ion-ios-arrow-left"></i></button>
<h1 class="title">通知消息</h1>
</ion-header-bar>
<ion-content class="has-header">
<ion-list >
    <ion-item class="item item-image">
        <img src="person/page16-1.png" alt="">
    </ion-item>
    <ion-item>
        <h2>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教育的最基本目的是传授知识可是我们的小学、中学、<br/>
            甚至大学，更多的时候，却把这个最基本目的当作惟一的、甚<br/>
            至最高目的。<br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教育的更高目的在于启蒙人的智慧和思想。教育的过程不<br/>
            仅要使蒙昧者得到启蒙、获得思想，还要自觉地成为一个智者<br/>
            和思想者，从而成为自己生命的真正主宰。<br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教育的最高目标是唤醒人的真正人性和使人彻悟人生，使<br/>
            混浊的人生变得清澈，使沉睡的生命得到觉醒。通过教育，人<br/>
            要成为真正的人，而不是人以外的任何生物，更不是他人的什<br/>
            么工具。人格残缺者不能做教师，生命处于迷蒙状态的人同样<br/>
            不能做教师。<br/>
        </h2>
    </ion-item>
</ion-list>
</ion-content>
</ion-view>