
    <style>
        body{
            background: #f1eff8;
        }
        .item .ppp{
            color: #999;
        }
       .spl{
            color: #333;
        }
        .dashedd{
            width: 100%;
            border: 1px dashed #efefef;
            display: block;
            position: relative;
            bottom: -15px;
        }
        .item {
            border-width: 0;
        }
    </style>

<ion-view>
<ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-ios-arrow-left"></i></button>
<h1 class="title">详细信息</h1>
</ion-header-bar>
<ion-content class="has-header">
<ion-list>
    <ion-item>
        <p class="ppp">名称：<span class="spl">郑州大学</span> </p>
        <span class="dashedd"></span>
    </ion-item>
    <ion-item>
        <p class="ppp">地址：<span class="spl">新校区 河南省郑州市科学大道100号</span> </p>
        <span class="dashedd"></span>
    </ion-item>
    <ion-item>
        <p class="ppp">电话：<span class="spl">0371-67781111</span> </p>
    </ion-item>
</ion-list>
    <ion-list class="card">
        <ion-item>
            <h2>简介</h2><br/>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;郑州大学（Zhengzhou University）,简称郑大，是中华人民<br/>
                共和国教育部与河南省人民政府共建高校，国家“211工程”重点<br/>
                建设高校，“中西部高校综合实力提升工程”入选高校，也是“卓<br/>
                越工程师教育培养计划”、“卓越法律人才教育计划”和“卓越医<br/>
                生教育培养计划”入选高校。<br/><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;郑州大学创建于1956年，1961年，郑州师范学院合并<br/>
                1911年，黄河大学并入，1922年，河南体育专科学校并入；<br/>
                郑州工业大学创建于1863年，初名郑州工学院，1973年，河南农业大学<br/>
                粮油工业系并，1996年4月，更名郑州工业大学；河南医科大学源于<br/>
                1928年的国立第五中山大学医科，1952年10月，更名河南医学院，1962年7<br/>
                月，洛阳医学院一部分师生并入，1984年，定名为河南医科大学；2000<br/>
                年7月，由原郑州大学、郑州工学院、河南医科大学于合并组建为新的郑州大学。<br/>
                <br/>
            </p>
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>
