
    <style>
        body{
            background: #f1eff8;
        }
    .boco{
        color:#057ecf;
        }
    .item-input{
        margin: 10px;
        border-radius: 39px;
        padding: 0 0 0 16px;
    }
        .iii{
            padding-right: 10px;
        }
        .item {
            border-width: 0;
        }
        span{
            width: 100%;
            border: 1px dashed #efefef;
            display: block;
            position: relative;
            bottom: -15px;
        }
    </style>
<ion-view>
<ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-ios-arrow-left"></i></button>
<h1 class="title">校区查询</h1>
</ion-header-bar>
<ion-content class="has-header">
<ion-list >
    <ion-item class="item item-input">
        <i class="icon ion-ios-search iii"></i>
        <input type="text" placeholder="请输入关键字">
    </ion-item>
    <ion-item ui-sref="^.xiangxixinxi">
        <h2 class="boco">郑州大学</h2>
        <span></span>
    </ion-item>
    <ion-item>
        <h2>河南大学</h2>
        <span></span>
    </ion-item>
    <ion-item>
        <h2>河南农业大学</h2>
        <span></span>
    </ion-item>
    <ion-item>
        <h2>河南政法大学</h2>
        <span></span>
    </ion-item>
    <ion-item>
        <h2>河南轻工业学院</h2>
        <span></span>
    </ion-item>
    <ion-item>
        <h2>河南师范学院</h2>
        <span></span>
    </ion-item>
    <ion-item>
        <h2>洛阳师范大学</h2>
        <span></span>
    </ion-item>
    <ion-item>
        <h2>信阳师范大学</h2>
        <span></span>
    </ion-item>
    <ion-item>
        <h2>郑州铁路职业学校</h2>
        <span></span>
    </ion-item>
    <ion-item>
        <h2>郑州体育大学</h2>
        <span></span>
    </ion-item>
    <ion-item>
        <h2>郑州经济大学</h2>
    </ion-item>
</ion-list>
</ion-content>
</ion-view>