

  <style>
      body{
          background: #f1eff8;
      }
      .bar .title{
          font-size:20px;
      }
      .item p {
          color:#333;
          margin-bottom: 5px;
      }
      .badge{
          background-color:#ff9900;
          color:#fff;
          font-weight: 500;
          font-size: 14px;
          padding: 4px 12px;
          border-radius: 5px;
      }
      .item .badge{
          position: absolute;
          top: 60px;
          right: 20px;
      }
      .button{
          background:#fff;
      }
      .platform-ios .popover {
          border-radius: 0;
      }
      .popover{
          width:320px;
          height: 265px;


      }
      .platform-ios .popover-arrow{
          height:0;
      }
      .bar .title{
          font-size:20px;
      }
      .item p {
          color:#333;
          margin-bottom: 5px;
      }
      .badge{
          background-color:#ff9900;
          color:#fff;
          font-weight: 500;
          font-size: 14px;
          padding: 4px 12px;
          border-radius: 5px;
      }
      .item .badge{
          position: absolute;
          top: 60px;
          right: 20px;
      }
      .button{
          background:#fff;
      }
      .platform-ios .popover {
          border-radius: 0;
      }
      .popover{
          width:320px;
          height: 210px;
      }
      .platform-ios .popover-arrow{
          height:0;
      }


  </style>


<ion-view>
<ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-ios-arrow-left"></i></button>
<h1 class="title">做题记录</h1>
</ion-header-bar>
<ion-content class="has-header">
<div class="button-bar">
    <button class="button" ng-click="showjb($event)">级别<i class="icon ion-android-arrow-dropdown" ></i></button>
    <button class="button" ng-click="showqb($event)">全部<i class="icon ion-android-arrow-dropdown" ></i></button>
</div>
  <ion-list  class="list-inset">
      <ion-item>
          <p>2013年天津市会计从业《会计电算化》真卷考试（1）第一章<br/>
            第一节小节课堂练习
          </p>
          <p>2016-03-08  12:36:25 </p>
          <i class="badge">继续</i>
      </ion-item>
      <ion-item>
          <p>2013年天津市会计从业《会计电算化》真卷考试（1）第一章<br/>
              第一节小节课堂练习
          </p>
          <p>2016-03-08  12:36:25 </p>
          <i class="badge">继续</i>
      </ion-item>
      <ion-item>
          <p>2013年天津市会计从业《会计电算化》真卷考试（1）第一章<br/>
              第一节小节课堂练习
          </p>
          <p>2016-03-08  12:36:25 </p>
          <i class="badge">继续</i>
      </ion-item>
      <ion-item>
          <p>2013年天津市会计从业《会计电算化》真卷考试（1）第一章<br/>
              第一节小节课堂练习
          </p>
          <p>2016-03-08  12:36:25 </p>
          <i class="badge">继续</i>
      </ion-item>
      <ion-item>
          <p>2013年天津市会计从业《会计电算化》真卷考试（1）第一章<br/>
              第一节小节课堂练习
          </p>
          <p>2016-03-08  12:36:25 </p>
          <i class="badge">继续</i>
      </ion-item>

  </ion-list>
</ion-content>
</ion-view>


<!--<script>-->
    <!--var app=angular.module("myApp",["ionic"]);-->
    <!--app.controller("myCtrl",function($scope,$ionicPopover){-->
        <!--$ionicPopover.fromTemplateUrl(-->
                <!--"template/template01.html",-->
                <!--{-->
                    <!--scope:$scope,-->
                    <!--animation:"slide-in-up"-->
                <!--}).then(function(modal){-->
            <!--$scope.dialog=modal;-->
        <!--});-->
        <!--$scope.showjb=function(e){-->
            <!--$scope.dialog.show(e)-->
        <!--};-->


        <!--$scope.showqb=function(e){-->
            <!--$scope.dialog.show(e)-->
        <!--}-->
    <!--})-->
<!--</script>-->
