<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title></title>
		<link rel="stylesheet" href="js/lib/ionic1/css/ionic.min.css" />
		<script src="js/lib/ionic1/js/ionic.bundle.min.js"></script>		
		<style>
			.star img{
				width:14px;
				height:auto;
			}
			.star{
				padding:0 10px;
			}
			.price{
				    font-size: 23px;
  					 color: #ff5000;
			}
			.pice{
				color:#ccc;
				padding:0 10px;
			}
			h5{
				padding:0 10px;
			}
			.transport{
				font-size: 14px;
				color:#666;
			}
			.transport b{
				font-weight: normal;
				padding:0 10px;
				
			}
			.saler{
				padding:0 10px;	
				background-color: rgba(228, 228, 228, 0.45);
				height:40px;
				line-height:40px;
				font-size: 12px;			
				color:#ccc;
			}
			.saler img{
				width:13px;
			}
			.lf{
				float: left;
			}
			.rt{
				float: right;
			}
			.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
			    white-space: normal;
			}
		</style>
	</head>
	<body ng-controller="myCtrl">
		<!--头部-->
		<ion-header-bar class="bar-positive" align-title="center">
			<button class="button icon-left ion-ios-arrow-left button-clear button-clam"></button>
			<h1 class="title">商品详情</h1>
			<button class="button icon-right ion-ios-cart button-clear"></button>	
		</ion-header-bar>
       
		<!--内容-->
		<ion-content class="has-header">
		<img src="images/pic.png" class="full-image" />
		<h5>大学英语四级/CET4V1私人定制【18课时】星火式巧速记法，掌握六级词汇的奥义</h5>
		<p class="star">
			<img src="images/star.png" alt="" />
			<img src="images/star.png" alt="" />
			<img src="images/star.png" alt="" />
			<img src="images/star.png" alt="" />
			<img src="images/star.png" alt="" />
			<span>5.0分</span>
		</p>
		<p class="pice">价格<span class="price">￥120</span>&nbsp;&nbsp;&nbsp;<i>价格&nbsp;￥309</i></p>
		<p class="transport">
			<b>快递:免运费</b>
			<span>月销52618笔</span>
			<b>库存356本</b>
		</p>
		
		<p class="saler">
			<span><img src="images/dui.png" alt="" />&nbsp;卖家承诺72小时发货</span>&nbsp;
			<span><img src="images/dui.png" alt="" />&nbsp;8天退货，退货邮费买家承担</span>
		</p>
		
		<div class="button-bar bar-light">
	        <button class="button button-light">商品详情</button>
	        <button class="button button-light">产品参数</button>
	        <button class="button button-light" style="color:#057ECF;border-bottom:1px solid #057ECF; ">宝贝评价</button>   
		</div>		
		<ion-list>
			<ion-item class="item-thumbnail-left">
				<img src="images/touxiang1.png" alt="" />
				<span class="lt">小星星</span>
				<span class='rt'>今天&nbsp;10:20</span>
				<p style="padding-top:13px;">视频讲解挺到位的我之前有时候在课堂上听不懂的看了这个视频举得思路清晰多了。</p>
			</ion-item>
			
			<ion-item class="item-thumbnail-left">
				<img src="images/touxiang2.png" alt="" />
				<span class="lt">安妮宝贝</span>
				<span class='rt'>今天&nbsp;11:18</span>
				<p style="padding-top:13px;">我觉得对我来说还是起到了学习的作用</p>
			</ion-item>
			
			<ion-item class="item-thumbnail-left">
				<img src="images/touxiang3.png" alt="" />
				<span class="lt">小松鼠</span>
				<span class='rt'>2016-02-18</span>
				<p style="padding-top:13px;">这个课程讲解真的挺好的，我是那种记性不是特别好的人，不懂可以反复看</p>
			</ion-item>
		</ion-list>
		
		</ion-content>	
		
	<!--脚注-->
		<!--<ion-tabs class="tabs-light tabs-icon-top has-header has-subheader">
				<ion-tab title="分享"    icon-on="icon ion-home" icon-off="icon ion-home"></ion-tab>
				<ion-tab title="客服" icon-on="icon ion-settings" icon-off="icon ion-home"></ion-tab>
				<ion-tab title="收藏" icon-on="icon ion-cash" icon-off="icon ion-cash"></ion-tab>		
		</ion-tabs>-->
	<ion-footer-bar>
		
		<button ng-click="cartShow()">加入购物车</button>
		<button>立即购买</button>
		<ion-tabs class="tabs-light tabs-icon-top has-header has-subheader">
				<ion-tab title="分享"    icon-on="icon ion-home" icon-off="icon ion-home"></ion-tab>
				<ion-tab title="客服" icon-on="icon ion-settings" icon-off="icon ion-home"></ion-tab>
				<ion-tab title="收藏" icon-on="icon ion-star" icon-off="icon ion-star"></ion-tab>		
		</ion-tabs>
	</ion-footer-bar>
	
	<script type="text/ng-template" id="modal">
		<ion-content style="background-color: #666;font-size:16px;color:#fff;width:120px;height:80px;border-radius: 5px;text-align: center;position: absolute;top:50%;left:35%;">
			<br />			
			<img src="images/duihao1.png" alt="" style="width:30px;height:30px;"/>
			<br />
			在购物车等你哟~
		</ion-content>
	</script>
		
		
	</body>
	<script>
		var app=angular.module("myApp",["ionic"]);
		
		app.config(function($stateProvider,$urlRouterProvider,$ionicConfigProvider){
			  // 解决android手机tabs选项卡刷新后出现在浏览器上边的问题
        $ionicConfigProvider.platform.ios.tabs.style('standard');
        $ionicConfigProvider.platform.ios.tabs.position('bottom');
        $ionicConfigProvider.platform.android.tabs.style('standard');
        $ionicConfigProvider.platform.android.tabs.position('standard');

        $ionicConfigProvider.platform.ios.navBar.alignTitle('center');
        $ionicConfigProvider.platform.android.navBar.alignTitle('left');

        $ionicConfigProvider.platform.ios.backButton.previousTitleText('').icon('ion-ios-arrow-thin-left');
        $ionicConfigProvider.platform.android.backButton.previousTitleText('').icon('ion-android-arrow-back');

        $ionicConfigProvider.platform.ios.views.transition('ios');
        $ionicConfigProvider.platform.android.views.transition('android');  
	})
		
		app.controller("myCtrl",function($scope,$ionicModal,$timeout){
//			初始化窗口
			
			$ionicModal.fromTemplateUrl("modal",{
				scope:$scope,
				animate:"slide-in-up"
			}).then(function(modal){
				$scope.dialog=modal;
			})
			
			
			$scope.cartShow=function(){
				$scope.dialog.show();
				
				$timeout(function(){
					$scope.dialog.hide();
				},1000)
			}
			
		})
	</script>
	
</html>
