<ion-view>
		<!--头部-->
		<ion-header-bar class="bar-positive">
			<button ng-click="$ionicGoBack()" class="button icon-left ion-ios-arrow-left button-clear button-clam"></button>
			<h1 class="title">免费资料</h1>
		</ion-header-bar>

		<!--内容-->
		<ion-content class="has-header">
			<ion-list>
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/pica.png" alt="" />
					<h2><span>推荐</span>幼儿园面试重点及评分重点</h2>
					<p>通过改正学习方法去改善基础知识；通过研究学生的认知系数，得到认知策略</p>
					<p class="time">2016-1-13</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/picb.png" alt="" />
					<h2><span>推荐</span>小学面试重点及评分重点</h2>
					<p>父母是孩子最好的老师，家长言传身教形成良好的家庭学习氛围</p>
					<p class="time">2016-1-13</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/picc.png" alt="" />
					<h2>英语四级考试口语总结</h2>
					<p>虽然没有刻意通过听歌学习英语，但是多少对语感有帮助</p>
					<p class="time">2016-1-13</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/picd.png" alt="" />
					<h2>大学面试重点及评分标准</h2>
					<p>读书部分老少，只要想读书，不怕没有机会，每个人都需要终身学习</p>
					<p class="time">2016-1-13</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/pice.png" alt="" />
					<h2><span>推荐</span>少儿图书馆作文大赛</h2>
					<p>真诚的态度、真实的力量，最文艺创造的根本</p>
					<p class="time">2016-1-13</p>
				</ion-item>
			</ion-list>
		</ion-content>
		
		<!--脚注-->
		<ion-tabs class="tabs-light tabs-icon-top">
			<ion-tab title="首页"    icon-on="icon ion-home" icon-off="icon ion-home"></ion-tab>
			<ion-tab title="我的任务" icon-on="icon ion-settings" icon-off="icon ion-home"></ion-tab>
			<ion-tab title="免费资料" icon-on="icon ion-cash" icon-off="icon ion-cash"></ion-tab>
			<ion-tab title="个人中心" icon-on="icon ion-icecream" icon-off="icon ion-icecream"></ion-tab>
			
		</ion-tabs>
</ion-view>
