<ion-view>
		<!--头部-->
		<ion-header-bar class="bar-positive">
			<button ng-click="$ionicGoBack()" class="button icon-left ion-ios-arrow-left button-clear button-clam"></button>
			<h1 class="title">我的任务</h1>
		</ion-header-bar>
        
       <div class="bar bar-subheader">
        	 <div class="button-bar bar-light">
	            <button class="button button-light" style="color:#057ECF;border-bottom:1px solid #057ECF; ">我的视频</button>
	            <button class="button" ui-sref="^.mainstudy">我的学习</button>
	            <button class="button">我的做题</button>
	        </div>
        </div>
		<!--内容-->
		<ion-content class="has-header has-subheader">
			<ion-list>
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/pic7.png" alt="" />
					<h2> 专业手绘画一对一视频教程细节化专业化绘图基本准则</h2>
					<p class="teacher">主讲老师:张贺伦</p>
					<p class="watch">继续观看</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/pic8.png" alt="" />
					<h2> 实战移动互联网营销：互联网+营销的7个关键要素</h2>
					<p class="teacher">主讲老师:刘庆</p>
					<p class="watch">继续观看</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/pic9.png" alt="" />
					<h2> BEC商务英语中、高级连读【随到随学班】超实用职场英语</h2>
					<p class="teacher">主讲老师:张雨</p>
					<p class="watch">继续观看</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/pic10.png" alt="" />
					<h2> 包含各专业医师资格证考试的全部内容，全部视频授课</h2>
					<p class="teacher">主讲老师:陈娟</p>
					<p class="watch">继续观看</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/pic11.png" alt="" />
					<h2>中小学九年义务教，课程视频辅导家教辅导</h2>
					<p class="teacher">主讲老师:丁宏宇</p>
					<p class="watch">继续观看</p>
				</ion-item>
			</ion-list>
		</ion-content>
</ion-view>

