<ion-view>
		<!--头部-->
		<ion-header-bar class="bar-positive" align-title="center">
			<button ng-click="$ionicGoBack()" class="button icon-left ion-ios-arrow-left button-clear button-clam"></button>
			<h1 class="title">我的任务</h1>
		</ion-header-bar>
        
       <div class="bar bar-subheader">
        	 <div class="button-bar bar-light">
	            <button class="button button-light" style="color:#057ECF;border-bottom:1px solid #057ECF; ">我的视频</button>
	            <button class="button">我的学习</button>
	            <button class="button" ui-sref="^.maintest">我的做题</button>
	        </div>
        </div>
		<!--内容-->
		<ion-content class="has-header has-subheader">
			<ion-list>
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/doc.png" alt="" />
					<h2>01 财会</h2>
					<p class="city">湖北2016年会计从业资格证考试</p>
					<p class="study">继续学习</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/doc.png" alt="" />
					<h2>02 外语</h2>
					<p class="city">2016年6月全国大学英语四级考试</p>
					<p class="study">继续学习</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/doc.png" alt="" />
					<h2>03 建筑工程</h2>
					<p class="city">《专业工程管理与实务机电工程》</p>
					<p class="study">继续学习</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/doc.png" alt="" />
					<h2>04 医药卫生</h2>
					<p class="city">执业药师(西药全科)精品VIP</p>
					<p class="study">继续学习</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/doc.png" alt="" />
					<h2>05 公务员</h2>
					<p class="city">2016年公务员行测技巧：如何</p>
					<p class="study">继续学习</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/doc.png" alt="" />
					<h2>06 职业资格</h2>
					<p class="city">人力资源师(二级)一对一</p>
					<p class="study">继续学习</p>
				</ion-item>
				
				<ion-item class="item-thumbnail-left">
					<img src="images/img6/doc.png" alt="" />
					<h2>07 学历教育</h2>
					<p class="city">成人高考-高升本-合作院校保</p>
					<p class="study">继续学习</p>
				</ion-item>
			</ion-list>
				
		</ion-content>		
</ion-view>		

