body {
    background-color: #f1eff8
}
.item-divider {
    min-height: 6px;
    padding-top: 2px;
}

.item-button-right{
    font-size: 14px;
    color: #999;
}
.item-avatar-right .item-content .item-image, .item-avatar-right .item-content>img:first-child, .item-avatar-right .item-image, .item-avatar-right>img:first-child {
    top:6px;
}
.item-avatar-right, .item-avatar-right .item-content {
    min-height: 54px;
}


