<ion-content>
    <ion-list class="list-out">
        <ion-item class="item-con">
            <img src="images/img/error.png" alt="" class="payImg" ng-click="back()">
            <h2 class="itemtitle">付款详情</h2>
        </ion-item>
        <ion-item>
            <img src="images/img/wx.png" alt="" class="payImg1">&nbsp;&nbsp;
            <span class="item-con1">微信</span>
            <img src="images/img/pay.png" alt="" class="paydh">
        </ion-item>
        <ion-item>
            <img src="images/img/zfb.png" alt="" class="payImg1">&nbsp;&nbsp;
            <span class="item-con1">支付宝</span>
            <img src="images/img/pay1.png" alt="" class="paydh">
        </ion-item>
        <ion-item>
            <h3 class="need">需付款</h3>
            <h3 class="mary">70.56元</h3>
        </ion-item>
        <ion-item>
            <button class="button button-block button-positive" ui-sref="^.orderb" ng-click="back()">确认付款</button>
        </ion-item>
    </ion-list>
</ion-content>